/* Product Detail - Desktop */
@media screen and (min-width: 1018px) {

    .go-back-link {
        width: 75%;
    }

    .product-features-container {
        width: 75%;
        display: flex;
        justify-content: center;

        .product-features {
            width: 55%;
            margin: 0 auto;
            padding-right: 50px;

            h2 {
                margin-top: 0;
            }
        }

        .in-the-box {
            margin: 0 auto;
            width: 45%;
            padding-left: 50px;

            h2 {
                margin-top: 0;
            }
        }

    }

    .gallery {
        width: 75%;
        margin: 50px auto;
    }

    .product-suggestions {
        width: 75%;
        margin: 50px auto;
    }

}