// Desktop
@media screen and (min-width: 1018px) {

    header {

        .header-container {
            width: 75%;
            padding: 35px 0;

            .hamburger-icon {
                visibility: hidden;
                height: 0;
                width: 0;
                position: absolute; // so the logo can move close to the left border of the container
            }

            .logo {
                width: 25%;
                text-align: left;
            }

            .nav-desktop {
                visibility: visible;
                height: unset;
                position: unset;
                width: 42%;

                ul {
                    display: flex;

                    li {
                        padding: 0 20px;

                        a {
                            color: #fff;

                            &:hover {
                                color: #d87d4a;
                            }
                        }
                    }

                }
            }
        }
    }

    .hero {

        .hero-message {
            width: 40%;
            margin-top: 15%;
            margin-left: 12.5%;

            .hero-message-container {
                text-align: left;
                padding: 0;
                margin: unset;

                .hero-sub-heading {
                    margin: 0;
                    margin-bottom: 15px;
                }

                .hero-heading {
                    font-size: 56px;
                    line-height: 68px;
                    letter-spacing: 2px;
                }

                .hero-subtext {
                    margin: 25px 0;
                    width: 70%;
                }

                .hero-button {
                    margin: 0;
                }

            }
        }
    }

    .categories-section {
        width: 75%;
        margin: auto;

        .categories-card-container {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-top: 100px;

            .category-card {

                width: 32%;
                margin: 0;
                min-height: 200px;

                .image-container {
                    top: -65px;

                    img {
                        width: 65%;
                    }
                }

                .category-heading {
                    font-size: 18px;
                    letter-spacing: 1.3px;
                    margin-top: 35%;
                }
            }
        }

    }

    .featured-products-section {

        .featured-product-1 {
            width: 75vw;
            max-height: 560px;

            .bg-image {
                height: 560px;
                background-size: 95%;
                background-position: bottom -320px left -135px;
            }

            .featured-product-image {
                top: 110px;
                left: 16%;
                width: 60%;
                justify-content: left;

                img {
                    width: 60%;
                }
            }

            .featured-product-texts {
                width: 40%;
                top: 25%;
                right: 0;
                text-align: left;
                align-items: unset;

                .featured-product-heading {
                    width: 80%;
                }

                .featured-product-subtext {
                    width: 90%;
                }

            }

            .featured-product-button {
                width: 160px;
                text-align: center;
            }
        }

        .featured-product-2 {
            width: 75vw;

            .bg-image {
                height: 100%;
            }
        }

        .featured-product-3 {
            width: 75vw;
            display: flex;

            .bg-image {
                width: 50% !important;
                margin-right: 1%;

                img {
                    width: 100%;
                    height: 100%;
                    //object-fit: contain;
                    border-radius: 8px;
                }
            }

            .featured-product-texts-container {
                width: 50% !important;
                padding-top: 10% !important;
                height: unset !important;
                padding-top: 0;
                margin-top: 0;
                margin-left: 1%;
            }
        }
    }

    .marketing-section {

        width: 75vw;
        margin: auto;
        padding-top: 100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        .header-image {
            width: 49%;
            margin: 0;
            flex-basis: 1;

            img {
                border-radius: 8px;
                width: 100%;
            }
        }

        .marketing-section-texts {
            width: 49%;
            margin: 0; // overrides the margin: auto.
            padding-right: 6%;
            text-align: left;


            .marketing-section-heading {
                margin: unset;
                padding: 20px 0;
            }

        }
    }

    footer {
        flex-direction: row;

        .footer-container {
            width: 75vw;

            .footer-bar {
                width: 10%;
                margin: unset !important;
            }

            .footer-group-1 {
                display: flex;
                justify-content: space-between;

                ul {
                    flex-direction: row;

                    li {
                        padding-right: 0; // override tablet
                        padding-left: 40px;
                    }
                }
            }

            .footer-subtexts {
                width: 52%;
                text-align: left;
            }

            .footer-inner {
                position: relative;
                height: 100px;
                margin-bottom: 50px;

                .footer-copyright {
                    position: absolute;
                    bottom: 0;
                }

                .footer-social-icons {
                    position: absolute;
                    top: -80px;
                    right: 10px;
                }

            }

        }


    }
}