.checkout {

    .checkout-form {

        h2 {
            font-size: 28px;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: 90%;
            margin: 30px auto;
        }

        form {
            display: flex;
            flex-direction: column;

            .billing-details,
            .shipping-info,
            .payment-details {
                border: none;
                margin: 0 auto;
                padding-top: 20px;
                width: 90%;

                legend {
                    color: #d87d4a;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: .9px;
                    line-height: 25px;
                    text-transform: uppercase;
                }

                .text-input {
                    display: flex;
                    flex-direction: column; // label and input vertical

                    label {
                        font-size: 12px;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }

                    input {
                        border: 1px solid #cfcfcf;
                        border-radius: 8px;
                        height: 56px;
                        font-size: 14px;
                        padding: 5px 25px;
                        margin-bottom: 25px;
                    }
                }

                .radio-group {
                    // border: 1px dashed red;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .radio-item {
                        border: 1px solid #cfcfcf;
                        border-radius: 8px;
                        width: 100%;
                        padding: 20px 0;
                        margin-left: 0;
                        margin-top: 15px;
                        text-align: left;

                        label {
                            width: 85%;
                        }

                        input[type=radio] {
                            width: 15%;
                            height: 20px;
                            vertical-align: middle;

                            &:checked {
                                accent-color: #d87d4a;
                            }


                        }

                        &:last-child {
                            margin-bottom: 30px;
                        }
                    }

                }
            }
        }
    }

    .checkout-summary {

        .heading {
            width: 90%;
            margin: 30px auto;
        }

        .item-row {
            display: flex;
            width: 90%;
            margin: 30px auto;

            .item-image-container {
                background-color: #cfcfcf;
                border-radius: 8px;
                min-width: 64px;
                width: 64px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .item-details {
                display: flex;
                width: 100%;

                .item-title-price {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 80%;
                }

                .item-title,
                .item-price {
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 25px;
                    margin: 3px 20px;
                }

                .item-title {
                    color: black;
                }

                .item-price,
                .item-count {
                    color: rgba(0, 0, 0, .5);
                }

                .item-count {
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 25px;
                    text-align: right;
                    width: 20%;
                }
            }
        }

        .price-details {

            .price-row {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                margin: 10px auto;
            }

            .label {
                width: 50%;
                font-size: 15px;
                color: rgba(0, 0, 0, .5);
                text-transform: uppercase;
            }

            .price {
                width: 50%;
                text-align: right;
                font-size: 18px;
                font-weight: 700;
            }

            .price-row:last-child {
                margin-top: 20px;

                .price {
                    color: #d87d4a;
                }
            }
        }

        .button-container {
            width: 90%;
            margin: 40px auto;

            button {
                background-color: #d87d4a;
                border: none;
                font-size: 13px;
                font-size: 700;
                text-transform: uppercase;
                color: white;
                width: 100%;
                min-height: 48px;
            }
        }

    }
}