/* Produc - Mobile */
header {
    .header-container {
        border-bottom: none;
    }
}

.go-back-link {
    width: 90%;
    margin: 15px auto;

    a {
        font-size: 15px;
        font-size: 500;
        line-height: 25px;
        color: rgba(0, 0, 0, .5);

        &:hover {
            color: #D87D4A;
        }
    }
}

.product-section {
    margin-top: 15px;

    .product-card {

        .product-card-description-container {

            .product-card-description {
                text-align: left;
                width: 100%;

                align-items: unset;

                .heading {
                    font-size: 28px;
                    letter-spacing: 1px;
                    width: 80%
                }

                .sub-text {
                    margin: 0;
                }

            }

            .product-form {
                margin: 20px 0;

                .price {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 1.3px;
                    margin: 20px 0;
                }

                form {
                    margin: 20px 0;
                    display: flex;

                    .quantity-nav {
                        background-color: #f1f1f1;
                        width: 30px;

                        .quantity-button {
                            font-size: 18px;
                            font-weight: 700;
                            color: rgba(0, 0, 0, .5);
                            height: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                color: #D87D4A;
                                cursor: pointer;
                            }
                        }
                    }

                    input {
                        background-color: #f1f1f1;
                        font-size: 13px;
                        font-weight: 700;
                        width: 10%;
                        text-align: center;
                        border: none;
                    }

                    /* Chrome, Safari, Edge, Opera */
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    input[type=number] {
                        -moz-appearance: textfield;
                    }

                    button {
                        background-color: #D87D4A;
                        color: white;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        border: none;
                        padding: 10px 20px;
                        margin: 0 10px;
                    }
                }
            }
        }

    }
}

.product-features-container {
    width: 90%;
    margin: auto;

    .product-features {
        margin: 50px auto;

        h2 {
            color: black;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-transform: uppercase;
            margin-top: 20px;
        }

        p {
            color: rgba(0, 0, 0, .5);
            font-size: 15px;
            line-height: 25px;
            margin-top: 20px;
        }
    }

    .in-the-box {
        margin: 50px auto;

        h2 {
            margin: 20px 0;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
        }

        ul {

            li {
                display: flex;
                font-size: 15px;
                line-height: 25px;
                margin: 5px 0;

                .quantity {
                    color: #D87D4A;
                    font-weight: 700;
                    width: 10%;
                }

                .description {
                    color: rgba(0, 0, 0, .5);
                }
            }
        }
    }

}

.gallery {
    width: 100%;
    margin-top: 50px;

    .vertical-group,
    .horizontal-group {
        width: 90%;
        margin: auto;

        img {
            width: 100%;
            border-radius: 8px;
            padding: 5px 0;
        }
    }
}


.product-suggestions {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heading {
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
    }

    .product-suggestions-cards {
        width: 90%;

        .suggestion-card {
            margin: 30px 0;

            .suggestion-card-header {
                background-color: #f1f1f1;
                text-align: center;
                border-radius: 8px;

                img {
                    border-radius: 8px;
                    width: 20%;
                    padding: 10px 0;
                }
            }

            .title {
                text-align: center;
                font-size: 24px;
                line-height: 36px;
                letter-spacing: 1.7px;
                margin: 30px 0;
            }

            .suggestion-link {
                text-align: center;
                margin: 10px 0;

                a {
                    background-color: #D87D4A;
                    color: white;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    border: none;
                    padding: 10px 20px;
                }
            }
        }
    }

}