// Mobile

header {
    position: absolute;
    top: 0;
    background-color: #131313;
    color: #fff;
    width: 100%;
    z-index: 99;

    .header-container {
        width: 90%;
        height: 95px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        border-bottom: 1px solid #979797;

        .hamburger-icon {
            visibility: visible;
            width: 20%;
        }

        .logo {
            width: 60%;
            text-align: center;
        }

        .nav-desktop {
            visibility: hidden;
            height: 0;
            position: absolute; // my hack to make the header properly aligned
        }

        .cart-icon {
            width: 20%;
            text-align: right;
        }
    }
}

.hero {
    position: relative;
    background-color: 131313;

    img {
        width: 100%;
        object-fit: contain;
        z-index: -1;
    }

    .hero-message {
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        margin-top: 45%;

        .hero-message-container {
            text-align: center;
            width: 100%;
            padding: 20px;
            margin: auto;

            .hero-sub-heading {
                color: rgba(255, 255, 255, .5);
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 10px;
                margin: 15px;
            }

            .hero-heading {
                color: rgba(255, 255, 255);
                text-transform: uppercase;
                font-size: 36px;
                font-weight: 700;
                letter-spacing: 1.29px;
                line-height: 40px;
            }

            .hero-subtext {
                color: rgba(255, 255, 255, .75);
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                margin: 25px 0;
            }

            .hero-button {
                background-color: #d87d4a;
                width: 160px;
                padding: 10px 30px;
                margin: auto;

                a {
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;


                }

                &:hover {
                    background-color: #fbaf85;
                }
            }
        }

    }
}

.categories-section {
    display: flex;
    flex-direction: column;

    .categories-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;

        .category-card {
            background-color: #f1f1f1;
            border-radius: 8px;
            width: 90%;
            margin-top: 80px;
            text-align: center;
            min-height: 165px;
            position: relative;

            .image-container {
                position: absolute;
                top: -50px;
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    width: 45%;
                }
            }

            .category-heading {
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 1.1px;
                text-transform: uppercase;
                margin-top: 25%;
            }

            .category-link {
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-top: 20px;

                a {
                    color: rgba(0, 0, 0, .5);

                    span {
                        color: #d87d4a;
                    }

                    &:hover {
                        color: rgba(255, 136, 0, 0.5);
                    }
                }

            }

        }
    }
}

.featured-products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    .featured-product-1 {
        background-color: #d87d4a;
        position: relative;
        border-radius: 8px;
        max-height: 720px;
        height: 600px;
        width: 90vw;

        .bg-image {
            width: 100%;
            min-height: 560px;
            max-height: 720px;
            height: 600px;

            background-image: url('../../../assets/images/home/desktop/pattern-circles.svg');
            background-size: 170%;
            background-position: top -120px center;
            background-repeat: no-repeat;
            object-fit: contain;
        }

        .featured-product-image {
            position: absolute;
            top: 60px;
            display: flex;
            justify-content: center;
            width: 100%;

            img {
                width: 172px;
            }
        }

        .featured-product-texts {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .featured-product-heading {
                color: #fff;
                font-size: 36px;
                letter-spacing: 1.3px;
                line-height: 40px;
                width: 60%;
            }

            .featured-product-subtext {
                color: #fff;
                margin-top: 30px;
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                width: 80%;
            }

            .featured-product-button {
                background-color: black;
                padding: 15px 25px;
                margin-top: 20px;
                text-align: center;

                a {
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                &:hover {
                    background-color: #4c4c4c;
                    cursor: pointer;

                    a {
                        color: white;
                    }
                }

            }
        }
    }

    .featured-product-2 {
        margin-top: 20px;
        width: 90vw;
        position: relative;

        .bg-image {
            width: 100%;

            img {
                border-radius: 8px;
                width: 100%;
            }
        }

        .featured-product-texts {
            position: absolute;
            top: 100px;
            left: 25px;
            display: flex;
            flex-direction: column;
            align-items: left;

            .featured-product-heading {
                font-size: 28px;
                letter-spacing: 2px;
            }
        }

        .featured-product-button {
            border: 1px solid black;
            padding: 12px 18px;
            margin-top: 30px;
            text-align: center;
            width: 160px;

            a {
                color: rgb(0, 0, 0);
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
            }

            &:hover {
                background-color: black;
                cursor: pointer;

                a {
                    color: white
                }
            }
        }
    }

    .featured-product-3 {
        margin-top: 20px;
        width: 90vw;
        position: relative;

        .bg-image {
            width: 100%;

            img {
                width: 100%;
                border-radius: 8px;
            }
        }

        .featured-product-texts-container {
            border-radius: 8px;
            background-color: #f1f1f1;
            min-height: 200px;
            height: 200px;
            padding-top: 50px;
            margin-top: 20px;

            .featured-product-texts {
                width: 80%;
                margin: auto;

                .featured-product-heading {
                    font-size: 28px;
                    letter-spacing: 2px;
                }

                .featured-product-button {
                    border: 1px solid black;
                    padding: 12px 18px;
                    margin-top: 20px;
                    text-align: center;
                    width: 160px;

                    a {
                        color: rgb(0, 0, 0);
                        font-size: 13px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    &:hover {
                        background-color: black;
                        cursor: pointer;

                        a {
                            color: white
                        }
                    }
                }
            }
        }

    }
}

.marketing-section {
    margin-top: 100px;

    .header-image {
        width: 90%;
        margin: auto;

        img {
            border-radius: 8px;
            width: 100%;
            object-fit: contain;
        }
    }

    .marketing-section-texts {
        width: 90%;
        margin: auto;
        text-align: center;

        .marketing-section-heading {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            margin: auto;

            padding: 20px;

            span {
                color: #d87d4a;
            }
        }

        .marketing-section-subtexts {
            color: rgba(0, 0, 0, .5);
            font-size: 15px;
            line-height: 25px;
            padding: 0 5px;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
    margin-top: 100px;
    text-align: center;

    .footer-container {
        width: 90vw;
        margin: auto;

        .footer-bar {
            background-color: #d87d4a;
            height: 4px;
            width: 26%;
            margin: auto;
        }

        .footer-group-1 {

            .logo {
                margin-top: 50px;
            }

            ul {
                display: flex;
                flex-direction: column;
                margin-top: 50px;
                text-align: center;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 2px;
                line-height: 25px;

                li {
                    padding: 5px 0;

                    a {
                        color: #fff;

                        &:hover {
                            color: #d87d4a;
                        }
                    }
                }
            }
        }

        .footer-subtexts {
            color: rgba(255, 255, 255, .5);
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            width: 100%;
            margin-top: 40px;
        }

        .footer-inner {

            .footer-copyright {
                color: rgba(255, 255, 255, .5);
                margin-top: 40px;
                font-size: 15px;
                line-height: 25px;
            }

            .footer-social-icons {
                margin: 40px 0;


                svg {
                    margin: 10px;
                    width: 24px;
                    height: 24px;

                    &:hover {
                        path {
                            fill: #d87d4a;
                        }
                    }
                }
            }
        }
    }
}