// Tablet
// header is the same as in mobile layout.
@media screen and (min-width: 578px) and (max-width: 1017px) {
    header {
        .header-container {
            width: 90%;
        }
    }

    .hero {

        .hero-message {
            margin-top: 25%;

            .hero-message-container {
                width: 60%;

                .hero-heading {
                    font-size: 56px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    line-height: 58px;
                }

                .hero-subtext {
                    margin: 35px 25px;
                }
            }
        }
    }

    .categories-section {
        flex-direction: row;
        justify-content: center;

        .categories-card-container {
            display: flex;
            flex-direction: row;
            width: 90%;
            margin-top: 100px;

            .category-card {
                margin: 10px;

                .image-container {
                    top: -50px;

                    img {
                        width: 65%;
                    }
                }

                .category-heading {
                    margin-top: 38%;
                }

            }
        }
    }

    .featured-products-section {

        .featured-product-1 {
            height: 720px;

            .bg-image {
                background-size: 150%;
                background-position: center -340px;
                height: 720px;
            }

            .featured-product-texts {
                top: 45%;

                .featured-product-heading {
                    font-size: 56px;
                    letter-spacing: 2px;
                    line-height: 58px;
                    width: 50%;
                }

                .featured-product-subtext {
                    width: 50%;
                }

                .featured-product-button {
                    margin-top: 50px;
                }
            }
        }
    }

    .featured-product-2 {
        .bg-image {
            width: 100%;
            height: 100%;

            img {
                border-radius: 8px;
                width: 100%;
                height: 100%;
            }
        }

        .featured-product-texts {
            left: 60px !important;
        }

    }

    .featured-product-3 {
        display: flex;

        .bg-image {
            width: 50% !important;
            margin-right: 1%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }

        .featured-product-texts-container {
            margin-left: 1%;
            margin-top: 0 !important;
            padding-top: 15% !important;
            padding-left: 2%;
            min-height: unset !important;
            height: unset !important;
            width: 50% !important;

            .featured-product-texts {
                width: 80%;

                .featured-product-button {
                    margin-top: 10% !important;
                }
            }
        }

    }

    .marketing-section {

        .marketing-section-texts {
            .marketing-section-heading {
                font-size: 40px;
                line-height: 44px;
                letter-spacing: 1.4px;
            }
        }
    }

    footer {
        align-items: unset;
        text-align: left;

        .footer-container {

            .footer-bar {
                width: 16%;
                margin: unset !important;
            }

            .footer-group-1 {

                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        padding-right: 40px;
                    }
                }
            }

            .footer-subtexts {
                text-align: left;
            }

            .footer-inner {
                display: flex;
                justify-content: space-between;
            }
        }
    }

}