/* Cart - Tablet */
@media screen and (min-width: 578px) and (max-width: 1017px) {

    .cart-modal {
        .cart {
            width: 50%;
            left: unset;
            right: 5%;
        }
    }
}